/* MOBIL */

@media (max-width: 740px) {
  /* Форма обратной связи */

  .callback-form {
    flex-direction: column;
  }

  .callback-form__inp {
    flex-basis: initial;
  }
  body {
    background-color: white;
  }

  /* Карточка товара */

  .product-card__img {
    height: 90px;
  }

  .product-card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 15px;
  }

  .product-card__body-top {
    margin-bottom: 22px;
  }

  .product-card__price {
    font-size: 14px;
  }

  .product-card__title {
    font-size: 14px;
  }

  .product-card__btn {
    width: 100%;
  }

  .product-card__img--big {
    height: 100%;
  }

  .product-card__btn--big {
    width: 100%;
  }

  /* Шапка */
  .header__container {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .header__logo {
    display: flex;
    justify-content: center;
  }

  .header__menu {
    padding: 20px 0;
    width: 100%;
    overflow-x: scroll;
  }

  .header__menu-list {
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
  }

  /* HERO */

  .hero__container {
    /* display: flex;
   align-items: center;
   justify-content: space-between; */
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__container::after {
    display: none;
  }

  .hero__content {
    align-items: center;
    height: 311px;
    width: 290px;
  }

  .hero__title {
    font-size: 28px;
    max-width: 290px;
    max-height: 128px;
    margin-bottom: 48px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .hero__desc {
    font-size: 20px;
    max-width: 290px;
    margin-bottom: 48px;
  }

  /* форма обратной связи */

  .callback {
    display: block;
  }

  .callback::before {
    display: none;
  }

  /* КАТАЛОГ */
  .catalog {
    padding: 40px 0;
  }

  .catalog__subtitle {
    margin-bottom: 30px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none; */
  }
}
