:root {
  --black-color: #263238;
  --base-color: #baef00;
  --base-color-hover: #d9ff56;
  --base-color-active: #a3d200;
  --placeholder-color: #8d8d8d;
  --transition-duration: 0.3s;
  --border-color: #e3e3e3;
  --price-color: #6c6c6c;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: var(--black-color);
  background-color: white;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* index */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header {
  background-color: var(--black-color);
  /* max-height: 60px; */
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  padding: 22px;
  background-color: var(--base-color);
  transition: opacity var(--transition-duration),
    background-color var(--transition-duration);
}

.header__logo:focus-visible {
  opacity: 0.8;
}

.header__logo:hover {
  background-color: var(--base-color-hover);
}
.header__logo:active {
  background-color: var(--base-color-active);
}

/* HERO */

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero__container::after {
  content: "";
  display: block;
  flex-basis: 495px;
  height: 380px;
  background-image: url(/img/bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  flex-basis: 487px;
  gap: 30px;
}

.hero__title {
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero__desc {
  font-size: 20px;
  max-width: 360px;
  margin-bottom: 48px;
}

/* форма обратной связи */
.callback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding-left: 58px; */
}

.callback::before {
  content: "";
  display: block;
  background-image: url(../img/left.png);
  background-size: cover;
  background-position: center;
}
.callback__right {
  padding: 72px 50px;
  background-image: url(../img/right.png);
  background-size: cover;
  background-position: center;
  color: white;
}
.callback__title {
  font-size: 0;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.callback__desc {
  max-width: 424px;
  margin-bottom: 26px;
  font-size: 20px;
}
/* КАТАЛОГ */
.catalog {
  padding: 80px 0;
}

.catalog__subtitle {
  margin-bottom: 60px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__item--big {
  grid-column: span 2;
}

.catalog__card {
  height: 100%;
}
